.navigation {
    
    // margin-right: auto;    

    ul {
        display: flex;
        align-items: center;
        gap: 1rem;

        li {
            display: flex;
            align-items: center;

            a {
                font-weight: 700;
                color: $color-text;
                padding: 8px 12px;
                transition: all 0.2s ease-in-out;

                @include mobile {
                    padding: 4px 8px;
                }

                &:hover {
                    border-radius: 3px;
                    background: $white;
                    color: #001e1d;
                    transition: all 0.2s ease-in-out;
                }
            }

            .nav-active {
                border-radius: 3px;
                background: #abd1c6;
                color: #001e1d;

                &:hover {
                    color: #001e1d;
                    cursor: default;
                    background: #abd1c6;
                }
            }

            
        }
        
    }


}





