.notfound {

    .notfound-title {
        font-size: 22vw;
        margin: 1vh 0 0;
        text-align: center;
    }

    .notfound-text {
        font-size: 3vw;
        font-weight: 600;
        text-align: center;
        // margin: 5rem 0;

        @include mobile {
            font-size: 0.8rem;
            width: 60%;
            margin: 0 auto;
        }
    }

    .notfound-btn {
        display: block;
        width: 250px;
        margin: 0 auto;
        margin-top: 50px;

        border: 0;
        border-radius: 3px;
        background-color: $color-btn;
        color: $color-btn-text;
        font-size: 1.1rem;
        font-weight: 600;
        cursor: pointer;
        padding: 16px 0px;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: $white;
            transition: background-color 0.2s ease-in-out;
        }

        @include mobile {
            width: 60%;
            font-size: 0.8rem;
            padding: 8px 0px;
        }
    }
}