// Polices

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

$font-text: 'Source Sans Pro', sans-serif;

// Couleurs

$color-background-1: #004643;
$color-background-2: rgb(2, 45, 43);
$color-headline: #fffffe;
$color-text: #abd1c6;
$color-btn: #f9bc60;
$color-btn-text : #001e1d;
$white: #fff;

// Mixins

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Réglages de base

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-background-1;
    font-family: $font-text;
    color: $color-text;
}

li {
    list-style-type: none;
}

a {
    color: $white;
    text-decoration: none;
}

// Dimensions

$width-container: 89%;
$width-container-max: 1440px;

// Media Queries

@mixin mobile {
    @media screen and (max-width: 368px) {
      @content;
    }
}